.advertisement {
  padding: 50px 0 100px;

  .map-container {
    height: 100%;
    width: 100%;
  }

  &__ {

    &map {
      margin-top: 20px;
      width: 100%;
      height: 320px;
    }

    &wrapper {
      display: flex;
    }

    &main {
      width: 85%;
    }

    &title {
      display: flex;
      column-gap: 30px;
      margin-bottom: 30px;
    }

    &form {
      padding: 35px 30px;
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 30px;

      &-row {
        display: flex;
        align-items: center;
        column-gap: 30px;
      }

      &-title {
        align-self: flex-start;
        min-width: 150px;
        margin-top: 8px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 152%;
        color: #363A45;

        &.important:after {
          content: ' *';
          font-weight: 700;
          font-size: 18px;
          line-height: 150%;
          color: #00C65E;
        }
      }

      &-input {
        width: 100%;
        outline: none;
        display: inline-block;
        background: #ffffff;
        border: 1px solid #DADCDC;
        border-radius: 10px;
        padding: 12px 15px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #363A45;
      }

      &-select {
        width: calc(50% - 100px);

        &Date {
          width: 247px;
        }

        &Time {
          width: 63px;
          margin-left: 10px;
          padding-right: 0;
        }
      }

      &-prompt {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        margin-top: 10px;
        color: darkgray;
        opacity: .7;
        display: flex;
        justify-content: space-between;
      }

      &-textarea {
        resize: none;
        height: 100px;
      }

      &-addPhoto {
        width: fit-content;
        margin: 10px 0;
        padding: 35px 45px;

        &_row {
          display: flex;
          justify-content: space-between;
        }

        &_top,
        &_bot {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          color: #363A45;
        }

        &_link {
          text-decoration: underline;
          color: #00C65E;
        }
      }
    }

  }
}

.select {
  width: 150px;
  position: relative;

  &__ {

    &header {
      display: flex;
      align-items: center;
      z-index: 2;
      cursor: pointer;
      outline: none;
      background: #ffffff;
      border: 1px solid #DADCDC;
      border-radius: 10px;
      padding: 12px 15px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #363A45;
    }

    &current {}

    &icon {
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-shrink: 0;

      & img {
        width: 20px;
        height: 20px;
      }
    }

    &body {
      z-index: 1;
      border: 1px solid #DADCDC;
      //border-top: 0;
      border-radius: 10px;
      background-color: #fff;
      position: absolute;
      left: 0;
      right: 0;
      top: 90%;
    }

    &item {
      padding: 10px 15px;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #363A45;

      &:hover {
        background-color: #00C65E;
      }
    }

  }
}